@import "Constants";

#orderBookTest {
  border: $borderProperties;
  /*width:35%;*/
  height: 600px;
  overflow: scroll;
}

#stats_table .col-xs-2 {
  border: $borderProperties;
  font-size: 90%;
  padding: 10px;
}

#userTransaction, #marketTransaction {
  height: 300px;
  overflow: auto;
  border: $borderProperties;
  padding: 2%;
}

#transactionSwitcher {
  float: none;
  margin: 0;
}

#placeOrderStyle {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 9px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 9px;
}

@media screen and (max-width: 669px) {
  #userTransaction, #marketTransaction {
    font-size: 8px;
  }
}

@media screen and (max-width: 521px) {
  #stats_table {
    font-size: 10px;
  }
}

@media screen and (max-width: 405px) {
  #orderBookTest {
    font-size: 12px;
  }
}

body {
  min-width: $minimumWindowWidth;
}